# Build
*.apk
*.aab

# Cache
bin
gen
out

# NDK
*.so
*.hpp
*.h

# Gradle
*.gradle
*.jar
gradlew
gradlew.bat
build
!gradle/wrapper/gradle-wrapper.jar
!gradlew
!gradlew.bat

# Configuration
local.properties
.jellywing-emulator.env
start-jellywing-emulator.sh
*.jks
*.keystore

# Other
.idea
.vs
