# Build
*.apk

# Cache
bin
gen
out

# NDK
*.so
*.hpp
*.h

# Gradle
*.gradle
*.jar
gradlew
gradlew.bat
build
!gradle/wrapper/gradle-wrapper.jar
!gradlew
!gradlew.bat

# Configuration
local.properties

# Other
.idea
.vs
